.upload-form-section{
    margin: 50px auto 10px;
    position:relative;
    width: 75%;

    .suspense-message{
        font-size: 24px;
        text-align: center;
        color: #034694;
    }

    .tooltip-container{
        width: 100%;
   
        margin: 2px 3px;
        position: relative;
        
        i{
            font-size: 22px;
            text-align: right;
            color: #225591; 
            position: absolute;
            top: 0px;
            right: 25%;
        }
        
    }

    header{
        padding-left: 10px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.589);
        margin-bottom: 15px;
        text-align: center;

        // .border-right{
        //     border-right: 1px solid rgba(51, 51, 51, 0.623);
        // }
    }

    .btn-wrap{
        margin-top: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba(51, 51, 51, 0.623);
        padding: 10px 0;
        transform-style: preserve-3d;
        transform: translateZ(-50px);
        transition: transform 1s;
        .btn{
            margin: auto;
            // transform: translateZ( -50px) rotateY(-180deg);
            // &.btn-forward {
            //     transform: translateZ( -50px) rotateY(0deg);
            // }
        }
        .download-template{
            position:relative;
            display: block;
           margin: 0 auto;
            border: 1px inset #ccc;
            background-color: #034694;
            color: #FFF;
            padding: 6px;
            transition: all .5s;
            &:active{
                background-color: #FFF;
                color: #034694;
                border-color: #034694;
            }
            &:visited{
                background-color: #FFF;
                color: #034694;
                border-color: #034694;
            }
            &:hover{
                background-color: #FFF;
                color: #034694;
                border-color: #034694;
            }
    
            i {
                margin-left: 5px;
            }    
        }
    }

    .top-header{
        position: relative;
        height:90px;
       border-bottom: 1px solid rgba(51, 51, 51, 0.589);
       margin-left: -15px;
       margin-right: -15px;
       padding: 8px 4px;
       h1{
        position:relative;
        
        }
    }

    

    .dropzone-wrap{
        text-align: center;  
        &:hover{
            cursor: pointer; 
        }
        i{ font-size: 32px; color: #225591}
        p{ margin-bottom: -1px;}
        h6{ font-size: 14px; font-weight: lighter; color: #225591; }
        h4{ font-size: 18px; font-weight: bold; margin: 13px 0;}
        .upload-browse{
            background-color: #034694;
            color: white;
            padding: 8px 16px;
            border-radius: 6px;
            width: 50%;
            margin: 0 auto;
        }
    }

    .dropzone-inner{
        background-color: #4169972a;
        padding: 30px 10px;
        max-width: 320px;
        border: 2px dashed #4169972a;
        margin: 0 auto;
    }

    .remove-list-item p {
        line-height: 18px;
    }


}