.submit-sheet-section{
    background-color: #eee;
    border-radius: 4px;
    margin-top: 40px;
    header{
        padding: 10px;
        border-bottom: 1px solid #333;
        margin-bottom: 8px;
        h2{
            font-weight: bold;
        }
    }
    .submit-sheet-inner{
        display: block;
        float: right;
    }
}