.schedule-section{
    min-height: 160px;
    border: 1px solid #034694;
    border-radius: 4px;
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
    background-color: #EFEFEF;

    header{
        background-color:#034694;
        width: 100%;
        height: 30px;
        padding: 2px 20px 0;

        h2{
            color: #FFF;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 21px;
        
        }
    }

    .dates-selected{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 21px;
            margin: auto;
            height: 100px;
            width: 100%;
            display: inline-block;
        }
        .link{
            display: block;
        }
    }
    .Selectable{
        .DayPicker-Day--selected{
            &:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
                background-color: #f0f8ff !important;
                color: #4a90e2;
              }
        }
        .DayPicker-Day {
            border-radius: 0 !important;
        }

        .DayPicker-Day--start {
            border-top-left-radius: 50% !important;
            border-bottom-left-radius: 50% !important;
        }

        .DayPicker-Day--end {
            border-top-right-radius: 50% !important;
            border-bottom-right-radius: 50% !important;
        }

    }
}