header{
    &.top-header{
        background-color: #034694;
        width: 100%;
        height: 55px;

        

        p { 
            display: inline-block;
            color: white;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            right: 15%;
            top: 18px;

            span.name-prop{
                font-style: italic;
            }

        }
         .inner-header{
            position: relative;
        }

    }
   
}

#modal_root{
    header{
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        padding: 5px 3px;
        border-bottom: 1px solid #333;
        margin-bottom: 8px;
    }
    p{
        font-size: 13px;
    }
    li{
        font-size: 11px;
    }
}

.green-font{
    color: #009900;
}