
.loading-boxes-header{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
.boxes-wrapper{
    margin: auto;
    height: 400px;
    width: 500px;
    overflow: hidden;

    .box{
      width: 2.5em;
      height: 2.5em;
      left: -20px;
      margin-top: 35px;
      margin-bottom: auto;
      border-radius: 2px;
      background-color: #333;
      border: 2px solid #eee;
  }
}

.boxes-wrapper-right{
    margin: auto;
    height: 400px;
    width: 500px;
    overflow: hidden;
    position: relative;
    top: -360px;

    .box-right{
      width: 2.5em;
      height: 2.5em;
      right: -20px;
      margin-top: 35px;
      margin-bottom: auto;
      border-radius: 2px;
      background-color: blue;
      border: 2px solid #eee;
  }
}


